// Clear
.cherry-clear {
	width: 100%;
	clear: both;
	height: 0;
	padding: 0;
	margin: 0;
	line-height: 0;
}

// Box
.cherry-box {
	padding: $lg-indents;
	&.box-primary {
		background-color: $primary;
		color: #fff;
	}
	&.box-secondary {
		background-color: $secondary;
		color: #fff;
	}
	&.box-gray {
		background-color: $gray;
	}
	&.box-primary-border {
		border: 2px solid $primary;
	}
	&.box-secondary-border {
		border: 2px solid $secondary;
	}
	&.box-gray-border {
		border: 2px solid $gray;
	}
}