/*		Common styles
---------------------------------------------------------------*/
.cherry-clearfix:before,
.cherry-clearfix:after {
  display: table;
  content: " ";
}

.cherry-clearfix:after {
  clear: both;
}

/*		Tabs + Tab ---------------------------------------------------------------*/
.cherry-tabs {
  margin: 0 0 1.5em 0;
  padding: 3px;
  background: #eee;
}
.cherry-tabs .cherry-tabs-nav span {
  display: inline-block;
  margin-right: 3px;
  padding: 10px 15px;
  font-size: 13px;
  min-height: 40px;
  line-height: 20px;
  color: #333;
  cursor: pointer;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.cherry-tabs .cherry-tabs-nav span:hover {
  background: #f5f5f5;
}
.cherry-tabs .cherry-tabs-nav span.cherry-tabs-current {
  background: #fff;
  cursor: default;
}
.cherry-tabs .cherry-tabs-nav span.cherry-tabs-disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}
@media only screen and (max-width: 768px) {
  .cherry-tabs .cherry-tabs-nav {
    float: none;
    width: auto;
  }
  .cherry-tabs .cherry-tabs-nav span {
    display: block;
  }
}
.cherry-tabs .cherry-tabs-panes .cherry-tabs-pane {
  padding: 15px;
  font-size: 13px;
  background: #fff;
  color: #333;
}
@media only screen and (max-width: 768px) {
  .cherry-tabs .cherry-tabs-panes {
    float: none;
    width: auto;
  }
}
.cherry-tabs.cherry-tabs-vertical:before, .cherry-tabs.cherry-tabs-vertical:after {
  content: "";
  display: table;
}
.cherry-tabs.cherry-tabs-vertical:after {
  clear: both;
}
.cherry-tabs.cherry-tabs-vertical .cherry-tabs-nav {
  float: left;
  width: 30%;
}
.cherry-tabs.cherry-tabs-vertical .cherry-tabs-nav span {
  display: block;
  margin-right: 0;
}
.cherry-tabs.cherry-tabs-vertical .cherry-tabs-panes {
  float: left;
  width: 70%;
}
