/*---------------------------- Common styles -------------------------------------------------------*/
.cherry-clearfix:before,
.cherry-clearfix:after {
  display: table;
  content: " ";
}

.cherry-clearfix:after {
  clear: both;
}

/*---------------------------- Tabs + Tab -----------------------------------------------------------*/
.cherry-tabs {
  padding: 3px;
}
.cherry-tabs-nav span {
  display: inline-block;
  padding: 15px 0px;
  font-size: 15px;
  font-weight: bold;
  min-height: 40px;
  line-height: 20px;
  margin: 0 20px;
  cursor: pointer;
}
.cherry-tabs-nav span.cherry-tabs-current {
  background: #fff;
  cursor: default;
}
.cherry-tabs-nav span.cherry-tabs-disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}
.cherry-tabs-nav.cherry-tabs-disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}
.cherry-tabs-panes .cherry-tabs-pane {
  padding: 15px;
}
@media only screen and (max-width: 768px) {
  .cherry-tabs-panes {
    float: none;
    width: auto;
  }
}
.cherry-tabs.cherry-tabs-style-default.cherry-tabs-vertical:before, .cherry-tabs.cherry-tabs-style-default.cherry-tabs-vertical:after {
  content: "";
  display: table;
}
.cherry-tabs.cherry-tabs-style-default.cherry-tabs-vertical:after {
  clear: both;
}
.cherry-tabs.cherry-tabs-style-default.cherry-tabs-vertical .cherry-tabs-nav {
  float: left;
  width: 30%;
}
.cherry-tabs.cherry-tabs-style-default.cherry-tabs-vertical .cherry-tabs-nav span {
  display: block;
  margin: 0;
}
.cherry-tabs.cherry-tabs-style-default.cherry-tabs-vertical .cherry-tabs-panes {
  float: left;
  width: 70%;
}
.cherry-tabs.cherry-tabs-style-simple .cherry-tabs-nav span.cherry-tabs-current {
  border-top: 2px solid #dddcdc;
  border-left: 2px solid #dddcdc;
  border-right: 2px solid #dddcdc;
  padding: 5px 8px;
}
.cherry-tabs.cherry-tabs-style-simple .cherry-tabs-panes {
  border-top: 2px solid #dddcdc;
}
.cherry-tabs.cherry-tabs-style-simple.cherry-tabs-vertical:before, .cherry-tabs.cherry-tabs-style-simple.cherry-tabs-vertical:after {
  content: "";
  display: table;
}
.cherry-tabs.cherry-tabs-style-simple.cherry-tabs-vertical:after {
  clear: both;
}
.cherry-tabs.cherry-tabs-style-simple.cherry-tabs-vertical .cherry-tabs-nav {
  float: left;
  width: 30%;
}
.cherry-tabs.cherry-tabs-style-simple.cherry-tabs-vertical .cherry-tabs-nav span {
  display: block;
  margin: 5px 0;
}
.cherry-tabs.cherry-tabs-style-simple.cherry-tabs-vertical .cherry-tabs-nav span:first-child {
  margin-top: 0;
}
.cherry-tabs.cherry-tabs-style-simple.cherry-tabs-vertical .cherry-tabs-nav span:last-child {
  margin-bottom: 0;
}
.cherry-tabs.cherry-tabs-style-simple.cherry-tabs-vertical .cherry-tabs-nav span.cherry-tabs-current {
  border-top: 2px solid #dddcdc;
  border-left: 2px solid #dddcdc;
  border-bottom: 2px solid #dddcdc;
  border-right: none;
}
.cherry-tabs.cherry-tabs-style-simple.cherry-tabs-vertical .cherry-tabs-panes {
  float: left;
  width: 70%;
  border-left: 2px solid #dddcdc;
  border-top: none;
}

/*---------------------------- Spoiler + Accordion --------------------------------------------------*/
.cherry-accordion {
  margin-bottom: 1.5em;
}
.cherry-accordion .cherry-spoiler {
  margin-bottom: 0.5em;
}
.cherry-accordion .cherry-spoiler:last-child {
  margin-bottom: 0;
}
.cherry-accordion .cherry-spoiler .cherry-spoiler-title {
  position: relative;
  cursor: pointer;
  min-height: 20px;
  line-height: 20px;
  padding: 7px 7px 7px 34px;
  font-weight: bold;
  font-size: 13px;
}
.cherry-accordion .cherry-spoiler .cherry-spoiler-title .cherry-spoiler-icon {
  position: absolute;
  left: 7px;
  top: 7px;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 21px;
  text-align: center;
  font-size: 14px;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}
.cherry-accordion .cherry-spoiler .cherry-spoiler-content {
  padding: 14px;
  -webkit-transition: padding-top .2s;
  -moz-transition: padding-top .2s;
  -o-transition: padding-top .2s;
  transition: padding-top .2s;
  -ie-transition: padding-top .2s;
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-closed .cherry-spoiler-content {
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  opacity: 0;
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-style-default .cherry-spoiler-title {
  padding-left: 27px;
  padding-right: 0;
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-style-default .cherry-spoiler-title .cherry-spoiler-icon {
  left: 0;
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-style-fancy {
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-style-fancy .cherry-spoiler-title {
  border-bottom: 1px solid #ccc;
  background: #f0f0f0;
  font-size: 0.9em;
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-style-fancy.cherry-spoiler-closed .cherry-spoiler-title {
  border: none;
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-style-simple {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-style-simple .cherry-spoiler-title {
  padding: 5px 10px;
  background: #f0f0f0;
  color: #333;
  font-size: 0.9em;
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-style-simple .cherry-spoiler-title .cherry-spoiler-icon {
  display: none;
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-style-simple .cherry-spoiler-content {
  background: #fff;
  color: #333;
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-plus .cherry-spoiler-icon:before {
  content: "\f068";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-plus.cherry-spoiler-closed .cherry-spoiler-icon:before {
  content: "\f067";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-plus-circle .cherry-spoiler-icon:before {
  content: "\f056";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-plus-circle.cherry-spoiler-closed .cherry-spoiler-icon:before {
  content: "\f055";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-plus-square-1 .cherry-spoiler-icon:before {
  content: "\f146";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-plus-square-1.cherry-spoiler-closed .cherry-spoiler-icon:before {
  content: "\f0fe";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-plus-square-2 .cherry-spoiler-icon:before {
  content: "\f117";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-plus-square-2.cherry-spoiler-closed .cherry-spoiler-icon:before {
  content: "\f116";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-arrow .cherry-spoiler-icon:before {
  content: "\f063";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-arrow.cherry-spoiler-closed .cherry-spoiler-icon:before {
  content: "\f061";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-arrow-circle-1 .cherry-spoiler-icon:before {
  content: "\f0ab";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-arrow-circle-1.cherry-spoiler-closed .cherry-spoiler-icon:before {
  content: "\f0a9";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-arrow-circle-2 .cherry-spoiler-icon:before {
  content: "\f01a";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-arrow-circle-2.cherry-spoiler-closed .cherry-spoiler-icon:before {
  content: "\f18e";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-chevron .cherry-spoiler-icon:before {
  content: "\f078";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-chevron.cherry-spoiler-closed .cherry-spoiler-icon:before {
  content: "\f054";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-chevron-circle .cherry-spoiler-icon:before {
  content: "\f13a";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-chevron-circle.cherry-spoiler-closed .cherry-spoiler-icon:before {
  content: "\f138";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-caret .cherry-spoiler-icon:before {
  content: "\f0d7";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-caret.cherry-spoiler-closed .cherry-spoiler-icon:before {
  content: "\f0da";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-caret-square .cherry-spoiler-icon:before {
  content: "\f150";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-caret-square.cherry-spoiler-closed .cherry-spoiler-icon:before {
  content: "\f152";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-folder-1 .cherry-spoiler-icon:before {
  content: "\f07c";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-folder-1.cherry-spoiler-closed .cherry-spoiler-icon:before {
  content: "\f07b";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-folder-2 .cherry-spoiler-icon:before {
  content: "\f115";
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-icon-folder-2.cherry-spoiler-closed .cherry-spoiler-icon:before {
  content: "\f114";
}

/*---------------------------- Google Map --------------------------------------------------*/
.google-map-container {
  width: 100%;
  height: 400px;
  min-height: 100px;
}
.google-map-container .google-map {
  width: 100%;
  height: 100%;
  position: relative;
}
.google-map-container .google-map img {
  max-width: none !important;
}
.google-map-container .marker-desc {
  display: none;
}

/*---------------------------- Paralax --------------------------------------------------*/
body .main-holder {
  overflow: hidden;
  position: static;
}

.parallax-box {
  position: relative;
  overflow: hidden;
}

.parallax-content {
  position: relative;
  z-index: 2;
}

.parallax-bg {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax-bg-inner {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: none;
}
